/* Google Sign-In Button Custom Styles */
.nsm7Bb-HzV7m-LgbsSe {
  border-radius: 0.5rem !important;
  border: 2px solid hsl(var(--primary) / 1) !important;
  background: hsl(var(--muted)) !important;
  transition: all 0.2s !important;
  height: 44px !important;
  box-shadow: 0 2px 4px 0 rgba(255, 254, 254, 0.1) !important;
}

.nsm7Bb-HzV7m-LgbsSe:hover {
  background: hsl(var(--muted) / 0.8) !important;
  border-color: hsl(var(--primary) / 0.6) !important;
  box-shadow: 0 4px 8px -1px rgb(0 0 0 / 0.2) !important;
  transform: translateY(-1px);
}

.nsm7Bb-HzV7m-LgbsSe-BPrWId {
  color: whitesmoke !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  
}

.nsm7Bb-HzV7m-LgbsSe-Bz112c {
  margin-right: 12px !important;
}
